.section {
  flex: 1 1 0%;
}
.sectionTitle {
  margin: 5rem 0 3rem;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.bulletSquare {
  height: 40px;
  width: 6px;
  background-color: #1664FF;
  margin-right: 20px;
}

.hr {
  padding: 1rem 0
}